OverloadingAndInheritance/SimpleWebClient/App_WebReferences/MultiplicationServiceReference/SimpleMultiplicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleMultiplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_MultiplicationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6790/MyHttpEndpoint?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6790/MyHttpEndpoint?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6790/MyHttpEndpoint?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MultiplicationServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MultiplicationService_MultiplyInt_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyInt" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_MultiplyInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyIntResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_DivideInt_InputMessage">
    <wsdl:part name="parameters" element="tns:DivideInt" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_DivideInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideIntResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_DivideInt_DivisionFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MultiplicationServiceLibrary" name="detail" element="q1:DivisionFault" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_MultiplyDouble_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyDouble" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_MultiplyDouble_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyDoubleResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="MultiplicationService">
    <wsdl:operation name="MultiplyInt">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiplicationService/MultiplyInt" message="tns:MultiplicationService_MultiplyInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiplicationService/MultiplyIntResponse" message="tns:MultiplicationService_MultiplyInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivideInt">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiplicationService/DivideInt" message="tns:MultiplicationService_DivideInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiplicationService/DivideIntResponse" message="tns:MultiplicationService_DivideInt_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MultiplicationService/DivideIntDivisionFaultFault" name="DivisionFaultFault" message="tns:MultiplicationService_DivideInt_DivisionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiplicationService/MultiplyDouble" message="tns:MultiplicationService_MultiplyDouble_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiplicationService/MultiplyDoubleResponse" message="tns:MultiplicationService_MultiplyDouble_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiplicationService/Save" message="tns:MultiplicationService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiplicationService/SaveResponse" message="tns:MultiplicationService_Save_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_MultiplicationService" type="tns:MultiplicationService">
    <wsp:PolicyReference URI="#NetTcpBinding_MultiplicationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="MultiplyInt">
      <soap12:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideInt">
      <soap12:operation soapAction="http://tempuri.org/MultiplicationService/DivideInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DivisionFaultFault">
        <soap12:fault use="literal" name="DivisionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <soap12:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyDouble" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/MultiplicationService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_MultiplicationService" type="tns:MultiplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MultiplyInt">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideInt">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/DivideInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DivisionFaultFault">
        <soap:fault use="literal" name="DivisionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyDouble" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_MultiplicationService1" type="tns:MultiplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MultiplyInt">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideInt">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/DivideInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DivisionFaultFault">
        <soap:fault use="literal" name="DivisionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyDouble" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleMultiplicationService">
    <wsdl:port name="NetTcpBinding_MultiplicationService" binding="tns:NetTcpBinding_MultiplicationService">
      <soap12:address location="net.tcp://localhost:9090/MyTcpEndpoint" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9090/MyTcpEndpoint</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-3ABOOA3\Umberto</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_MultiplicationService" binding="tns:BasicHttpBinding_MultiplicationService">
      <soap:address location="http://localhost:7070/MyNewEndpoint" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_MultiplicationService1" binding="tns:BasicHttpBinding_MultiplicationService1">
      <soap:address location="http://localhost:6790/MyHttpEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>