CoursesConsoleClient/Service References/CoursesServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Courses" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICourses_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CoursesServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourses_AddToCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToCourses" />
  </wsdl:message>
  <wsdl:message name="ICourses_AddToCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ICourses_ListCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCourses" />
  </wsdl:message>
  <wsdl:message name="ICourses_ListCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCoursesResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICourses">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddToCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourses/AddToCourses" message="tns:ICourses_AddToCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourses/AddToCoursesResponse" message="tns:ICourses_AddToCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="ListCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourses/ListCourses" message="tns:ICourses_ListCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourses/ListCoursesResponse" message="tns:ICourses_ListCourses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICourses" type="tns:ICourses">
    <wsp:PolicyReference URI="#NetTcpBinding_ICourses_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddToCourses">
      <soap12:operation soapAction="http://tempuri.org/ICourses/AddToCourses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCourses">
      <soap12:operation soapAction="http://tempuri.org/ICourses/ListCourses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Courses">
    <wsdl:port name="NetTcpBinding_ICourses" binding="tns:NetTcpBinding_ICourses">
      <soap12:address location="net.tcp://localhost:6789/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6789/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Thinkpad-PC\Thinkpad</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>