SampleClient/Connected Services/SampleServiceReference/SimpleServiceSample.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleServiceSample" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49718/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49718/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49718/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestService" />
      <xsd:import schemaLocation="http://localhost:49718/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceSample_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetMax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMax" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetMax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetSorted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSorted" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetSorted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetTopper_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopper" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetTopper_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopperResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="ServiceSample_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSample">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceSample/GetData" message="tns:ServiceSample_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceSample/GetDataResponse" message="tns:ServiceSample_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceSample/GetMessage" message="tns:ServiceSample_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceSample/GetMessageResponse" message="tns:ServiceSample_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceSample/GetResult" message="tns:ServiceSample_GetResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceSample/GetResultResponse" message="tns:ServiceSample_GetResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMax">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceSample/GetMax" message="tns:ServiceSample_GetMax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceSample/GetMaxResponse" message="tns:ServiceSample_GetMax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceSample/GetSorted" message="tns:ServiceSample_GetSorted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceSample/GetSortedResponse" message="tns:ServiceSample_GetSorted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceSample/GetTopper" message="tns:ServiceSample_GetTopper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceSample/GetTopperResponse" message="tns:ServiceSample_GetTopper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceSample/GetCountries" message="tns:ServiceSample_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceSample/GetCountriesResponse" message="tns:ServiceSample_GetCountries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServiceSample" type="tns:ServiceSample">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ServiceSample/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/ServiceSample/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <soap:operation soapAction="http://tempuri.org/ServiceSample/GetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMax">
      <soap:operation soapAction="http://tempuri.org/ServiceSample/GetMax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <soap:operation soapAction="http://tempuri.org/ServiceSample/GetSorted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <soap:operation soapAction="http://tempuri.org/ServiceSample/GetTopper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/ServiceSample/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleServiceSample">
    <wsdl:port name="BasicHttpBinding_ServiceSample" binding="tns:BasicHttpBinding_ServiceSample">
      <soap:address location="http://localhost:49718/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>