Streaming/BasicStreamingClient/Connected Services/WcfStreamingServiceReference/StreamService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StreamService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IStreamService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.microsoft.com/Message" />
      <xs:element name="GetLargeObject">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLargeObjectResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetLargeObjectResult" type="q1:StreamBody" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://schemas.microsoft.com/Message" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="StreamBody">
        <xs:restriction base="xs:base64Binary" />
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IStreamService_GetLargeObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLargeObject" />
  </wsdl:message>
  <wsdl:message name="IStreamService_GetLargeObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLargeObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IStreamService">
    <wsdl:operation name="GetLargeObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamService/GetLargeObject" message="tns:IStreamService_GetLargeObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamService/GetLargeObjectResponse" message="tns:IStreamService_GetLargeObject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStreamService" type="tns:IStreamService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IStreamService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLargeObject">
      <soap:operation soapAction="http://tempuri.org/IStreamService/GetLargeObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StreamService">
    <wsdl:port name="BasicHttpBinding_IStreamService" binding="tns:BasicHttpBinding_IStreamService">
      <soap:address location="http://localhost:54325/Service1.svc/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>